.movie-card{
    width: 100%;
    height: auto;
    aspect-ratio: 2/3;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 3%;
    margin-top: 3vh;
}

.overlay > h1 {
    font-size: calc(1.5vw);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.overlay > div{
    font-size: calc(0.8vw);;
}

.overlay:hover{
    opacity: 0.8;
}

.movie-card:hover{
    transform: scale(1.1) translateZ(20px);
    z-index: 2;
}

@media (max-width: 991px) {
    .movie-card{
        width: 100%;
    }

    .overlay > h1 {
        font-size: calc(2.5vw);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 2px;
    }

    .overlay > div{
        font-size: calc(1.2vw);;
    }
}



.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 5%;
    transition: background-color 0.3s ease;
    border-color: black;
}

.page-link:hover {
    background-color: white;
    color: black;
}

.active .page-link {
    background-color: darkgray;
    border-color: darkgray;
    color: darkred;
}

.page-item.disabled .page-link {
    color: dimgray;
    background-color: black;
    cursor: not-allowed;
}

.result-empty{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 2vw;
    flex-direction: column;
    align-items: center;
}

.result-empty > *{
    width: 70%;
}

.result-empty li {
    font-size: 1.5vw;
}