


.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 5%;
    transition: background-color 0.3s ease;
    border-color: black;
}

.page-link:hover {
    background-color: white;
    color: black;
}

.active .page-link {
    background-color: darkgray;
    border-color: darkgray;
    color: darkred;
}

.page-item.disabled .page-link {
    color: dimgray;
    background-color: black;
    cursor: not-allowed;
}

.result-empty{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 2vw;
    flex-direction: column;
    align-items: center;
}

.result-empty > *{
    width: 70%;
}

.result-empty li {
    font-size: 1.5vw;
}